.asNumber {
  height: 33px;
  color: #2cdfc9;
  background-color: #eafcfa;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asOp {
  height: 33px;
  color: #1758ba;
  background-color: #1758ba1a;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NUMBER {
  height: 33px;
  color: #2cdfc9;
  background-color: #eafcfa;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NEW_FIELD select {
  height: 33px;
  width: 145px;
  border-color: none;
  color: #fff;
  background-color: #1753af;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;

  position: relative;
}

.NEW_FIELD select::after {
  content: 'reeeeeezaaa';
  background-color: #eafcfa;
  color: #000;
}
.NEW_FIELD select::before {
  content: 'reeeeeezaaa';
  background-color: #eafcfa;
  color: #000;
  /* position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('/public/assets/icons/svg/ic_fx.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 10000; */
}

.NEW_FIELD {
  padding: 0px !important;
}

.NEW_FnFx select {
  height: 33px;
  width: 145px;
  position: relative;
  border-color: none;
  color: #fff;
  background-color: #9d2cdf;
  /* font-weight: bold; */
  /* min-width: 33px; */
  /* max-width: max-content; */
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.NEW_FnFx select::after {
  content: '';
  background: url('/public/assets/icons/svg/ic_fx.svg');
  position: absolute;
  top: 0px;
  left: 0px;
  height: 133px;
  width: 145px;
  z-index: 999999;
}

.NEW_FnFx {
  padding: 0px !important;
}
.NEW_FnFx select:focus {
  border: none;
}
.NEW_FnFx select:active {
  border: none;
}
/* .NEW_FnFx select {
  height: 33px;
  width: 145px;
  border-color: none;
  background-color: #9D2CDF;
  min-width: 145px;
} */

.OPERATOR {
  height: 33px;
  color: #1758ba;
  background-color: #1758ba1a;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field .AVG {
  height: 33px;
  color: #fff;
  background-color: red;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContentEditable {
  height: 100%;
  width: 100%;
  outline: none;
  /* direction: ltr !important; */
}
.ContentEditable article {
  height: '100%';
  width: '100%';
  border: none;
}
.ContentEditable :first-child :first-child {
  height: '100%';
  width: '100%';
  border: none;
}

.dynamicbtn {
  /* color: #000; */
  /* border-radius: 5px; */
  padding: 5px;
  /* width: auto;
  margin-top: 5px; */
  text-align: center;
  display: inline-block;
  /* background-color: #e0e0e0; */
  /* margin-left: 5px;
  margin-right: 5px; */
}

.dynamicdeletIcon {
  color: rgb(220, 0, 78);
  font-weight: bold;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 5px;
}
