.asNumber {
  height: 33px;
  color: #2cdfc9;
  background-color: #eafcfa;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asOp {
  height: 33px;
  color: #1758ba;
  background-color: #1758ba1a;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NUMBER {
  height: 33px;
  color: #2cdfc9;
  background-color: #eafcfa;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================++==== */

.NEW_FIELD {
  height: 33px;
  width: 145px;
  border-color: none;
  /* color: #fff; */
  background-color: #1753af;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 0 4px; */

  position: relative;
}

.NEW_FIELD .customDropdown {
  height: 100%;
  max-width: 90%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;

  border-color: none;
  color: #fff;
  /* background-color: #1753af; */
  /* margin: 3px !important;
  margin-top: 0px !important; */
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 4px;
  padding-right: 24px;
  white-space: nowrap;

  /* 
  position: relative; */
}
.NEW_FIELD .customDropdown::before {
  content: '';
  height: 33px;
  width: 20px;
  background-color: #e8eef8;
  position: absolute;
  right: 0;
  border-radius: 0 10px 10px 0;
  background-image: url('/assets/icons/svg/ic_tick.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.customDropdown[data-type='up']::after {
  content: '';
  height: 33px;
  width: 10px;
  position: absolute;
  left: 6;
  /* background-color: red; */
  background-image: url('/assets/icons/svg/ic_arrow_up.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.customDropdown[data-type='down']::after {
  content: '';
  height: 33px;
  width: 10px;
  position: absolute;
  left: 6;
  /* background-color: red; */
  background-image: url('/assets/icons/svg/ic_arrow_down.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.NEW_FIELD .optionsContainer {
  border-radius: 10px;
  position: absolute; /* Adjust positioning as needed */
  z-index: 1000;
  min-height: 160px;
  max-height: 240px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #00000033;
  width: 145px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 4000ms, 8000ms;
  margin-top: 2px;
}

.NEW_FIELD .option {
  min-height: 33px;
  width: 100%;
  border-color: none;
  color: #fff;
  background-color: #1753af;
  border-radius: 10px;
  display: flex;
  margin: 4px 0;
  padding: 1px 5px;
  justify-content: start;
  align-items: center;
}

/* ======================++==== */

.NEW_FIELD option {
  height: 33px;
  width: 140px;
  border-color: none;
  color: #fff;
  background-color: #1753af;
  margin: 3px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;

  position: relative;
}

.NEW_FIELD {
  padding: 0px !important;
}

/* ============================= */
.NEW_FnFx {
  height: 33px;
  width: 145px;
  border-color: none;
  background-color: #9d2cdf;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.NEW_FnFx .customDropdown {
  height: 100%;
  max-width: 90%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;

  border-color: none;
  color: #fff;
  /* background-color: #1753af; */
  /* margin: 3px !important;
  margin-top: 0px !important; */
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 4px;
  padding-right: 24px;
  white-space: nowrap;
}

.NEW_FnFx .customDropdown::before {
  content: '';
  height: 33px;
  width: 20px;
  background-color: #e8eef8;
  position: absolute;
  right: 0;
  border-radius: 0 10px 10px 0;
  background-image: url('/assets/icons/svg/ic_fx.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.NEW_FnFx .optionsContainer {
  border-radius: 10px;
  position: absolute; /* Adjust positioning as needed */
  z-index: 1000;
  min-height: 160px;
  max-height: 240px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #00000033;
  width: 145px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 4000ms, 8000ms;
  margin-top: 8px;
  margin-right: -5px;

}

.NEW_FnFx .option {
  min-height: 33px;
  width: 100%;
  border-color: none;
  color: #fff;
  background-color: #9d2cdf;
  border-radius: 10px;
  display: flex;
  margin: 4px 0;
  padding: 1px 5px;
  justify-content: start;
  align-items: center;
}

/* ================================ */

/* .NEW_FnFx select {
  height: 33px;
  width: 145px;
  position: relative;
  border-color: none;
  color: #fff;
  background-color: #9d2cdf;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
} */

.OPERATOR {
  height: 33px;
  color: #1758ba;
  background-color: #1758ba1a;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field .AVG {
  height: 33px;
  color: #fff;
  background-color: red;
  /* font-weight: bold; */
  min-width: 33px;
  max-width: max-content;
  width: min-content;
  margin: 3px !important;
  margin-top: 0px !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContentEditable {
  height: 100%;
  width: 100%;
  outline: none;
  /* direction: ltr !important; */
}
.ContentEditable article {
  height: '100%';
  width: '100%';
  border: none;
}
.ContentEditable :first-child :first-child {
  height: '100%';
  width: '100%';
  border: none;
}

.dynamicbtn {
  /* color: #000; */
  /* border-radius: 5px; */
  padding: 5px;
  /* width: auto;
  margin-top: 5px; */
  text-align: center;
  display: inline-block;
  /* background-color: #e0e0e0; */
  /* margin-left: 5px;
  margin-right: 5px; */
}

.dynamicdeletIcon {
  color: rgb(220, 0, 78);
  font-weight: bold;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 5px;
}
